{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}

 <!-- ***************************************BODY********************************** -->

 <div class="container">
  <h1 class="text-uppercase">Mentions legales</h1>

  <h2>1. Editeur du site</h2>
  <p class="CGU">
    - Nom de l’entreprise : Vergier Consulting <br>
    <br>
    - Représentant légal : Mr VERGIER Guillaume <br>
    <br>
    - Adresse du siège social : 18 allée du vallon, 26200 Montélimar <br>
    <br>
    </p>

  <h2>2. Pour entrer en contact facilement avec l’éditeur du site</h2>
    <p class="CGU">
      - Téléphone : 07.83.42.47.68 <br>
      - Adresse e-mail : guillaume@vergier.fr <br>
    </p>
  <h2>3. Responsable de la rédaction</h2>

    <p class="CGU">
      - Le responsable de la rédaction est : VERGIER Guillaume. <br>
    </p>
  <h2>4. Directeur de publication</h2>

  <p class="CGU">
    - Le directeur de publication est : Mr VERGIER Guillaume. <br>
  </p>

  <h2>Hébergeur du site</h2>
  <p class="CGU">
    - Ce site est hébergé par : <br>
    - SAS OVH <br>
    - 2 rue Kellerman, 59100 Roubaix (France) <br>
    - Numéro de téléphone : +33 (0)9.72.10.10.07 <br>
  </p>
 </div>
 
{% endblock %}
